:root {
  --primary: #686de0;
  --gray-1: #4834d4;
  --gray-2: #30336b;
  --light-grey: #efefef;
  --text-color: #130f40;
  --error: #e74c3c;
  --divider: #ecf0f1;
  --font-family: "Mulish", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
}
